<!-- navbar fragment -->
<div th:fragment="mainNav" class="mb-4">
    <a th:href="@{/}" class="btn btn-primary">Home</a>
    <a th:href="@{/items/ariel}" class="btn btn-primary">Ariel</a>
    <a th:href="@{/customers}" class="btn btn-secondary">Customers</a>
    <a th:href="@{/items}" class="btn btn-secondary">Items</a>
    <a th:href="@{/orders}" class="btn btn-secondary">Orders</a>
    <a th:href="@{/order-items}" class="btn btn-secondary">Order Items</a>
    <a th:href="@{/leftovers}" class="btn btn-secondary">Leftovers</a>
    <a th:href="@{/upload}" class="btn btn-secondary">Upload</a>
    <div style="float: right;">
        <span th:if="${currentUser}" class="me-2">User: <span th:text="${currentUser}"></span></span>
        <a th:if="${currentUser}" th:href="@{/logout}" class="btn btn-secondary">Logout</a>
        <a th:if="${currentUser} == null" th:href="@{/login}" class="btn btn-primary">Login</a>
    </div>
</div>