<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Upload</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
</head>

<body>
    <div th:insert="~{fragments/navbar :: mainNav}"></div>
    <div class="container mt-4">
        <h1>Upload</h1>
        <ul class="list-group">
            <li class="list-group-item"><a th:href="@{/upload-customers-csv}">Upload Customers (CSV)</a></li>
            <li class="list-group-item"><a th:href="@{/upload-orders-excel}">Upload Orders (Excel)</a></li>
        </ul>
    </div>
</body>

</html>